Repository klemiwary/Riakuto-StartingReact-ja5.0: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier, 09_lint, 09_format

eslint:
  run: pnpm exec eslint {staged_files} --fix --quiet
  stage_fixed: true

stylelint:
  run: pnpm exec stylelint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: pnpm exec prettier {staged_files} --write --log-level=error
  stage_fixed: true

09_lint:
  run: pnpm run lint:fix
  stage_fixed: true

09_format:
  run: pnpm run format
  stage_fixed: true

add 11-3. react-router setup
  11-router/03-react-router/rrlib-app/.gitignore
  11-router/03-react-router/rrlib-app/README.md
  11-router/03-react-router/rrlib-app/eslint.config.js
  11-router/03-react-router/rrlib-app/index.html
  11-router/03-react-router/rrlib-app/package.json
  11-router/03-react-router/rrlib-app/pnpm-lock.yaml
  11-router/03-react-router/rrlib-app/public/vite.svg
  11-router/03-react-router/rrlib-app/src/App.css
  11-router/03-react-router/rrlib-app/src/App.tsx
  11-router/03-react-router/rrlib-app/src/assets/react.svg
  11-router/03-react-router/rrlib-app/src/index.css
  11-router/03-react-router/rrlib-app/src/main.br.tsx
  11-router/03-react-router/rrlib-app/src/main.cbr.tsx
  11-router/03-react-router/rrlib-app/src/main.tsx
  11-router/03-react-router/rrlib-app/src/vite-env.d.ts
  11-router/03-react-router/rrlib-app/tsconfig.app.json
  11-router/03-react-router/rrlib-app/tsconfig.json
  11-router/03-react-router/rrlib-app/tsconfig.node.json
  11-router/03-react-router/rrlib-app/vite.config.ts
Due: eslint

remove `--silent` option from lint task
  09-lint-format/02-formatter/02-prettier/package.json
  09-lint-format/03-stylelint/package.json
  09-lint-format/04-githooks/package.json
Due: none

debug lefthook.yaml
  09-lint-format/01-linter/04-custom/eslint.config.js
  09-lint-format/01-linter/05-inspector/eslint.config.js
  09-lint-format/02-formatter/02-prettier/eslint.config.js
  09-lint-format/03-stylelint/eslint.config.js
  09-lint-format/04-githooks/eslint.config.js
  09-lint-format/04-githooks/lefthook.yaml
  11-router/03-react-router/02-setup/rrfw-tpl/eslint.config.js
  11-router/03-react-router/06-fw-app/eslint.config.js
  11-router/03-react-router/06-fw-app/package.json
  11-router/04-app-router/01-setup/next-ar-tpl.old/.gitignore
  11-router/04-app-router/01-setup/next-ar-tpl.old/README.md
  11-router/04-app-router/01-setup/next-ar-tpl.old/components.json
  11-router/04-app-router/01-setup/next-ar-tpl.old/eslint.config.mjs
  11-router/04-app-router/01-setup/next-ar-tpl.old/next.config.ts
  11-router/04-app-router/01-setup/next-ar-tpl.old/package.json
  11-router/04-app-router/01-setup/next-ar-tpl.old/pnpm-lock.yaml
  11-router/04-app-router/01-setup/next-ar-tpl.old/postcss.config.mjs
  11-router/04-app-router/01-setup/next-ar-tpl.old/prettier.config.mjs
  11-router/04-app-router/01-setup/next-ar-tpl.old/public/file.svg
  11-router/04-app-router/01-setup/next-ar-tpl.old/public/globe.svg
  11-router/04-app-router/01-setup/next-ar-tpl.old/public/next.svg
  11-router/04-app-router/01-setup/next-ar-tpl.old/public/vercel.svg
  11-router/04-app-router/01-setup/next-ar-tpl.old/public/window.svg
  11-router/04-app-router/01-setup/next-ar-tpl.old/src/app/favicon.ico
  11-router/04-app-router/01-setup/next-ar-tpl.old/src/app/fonts/GeistMonoVF.woff
  11-router/04-app-router/01-setup/next-ar-tpl.old/src/app/fonts/GeistVF.woff
  11-router/04-app-router/01-setup/next-ar-tpl.old/src/app/globals.css
  11-router/04-app-router/01-setup/next-ar-tpl.old/src/app/layout.tsx
  11-router/04-app-router/01-setup/next-ar-tpl.old/src/app/page.tsx
  11-router/04-app-router/01-setup/next-ar-tpl.old/src/components/ui/button.tsx
  11-router/04-app-router/01-setup/next-ar-tpl.old/src/lib/utils.ts
  11-router/04-app-router/01-setup/next-ar-tpl.old/stylelint.config.mjs
  11-router/04-app-router/01-setup/next-ar-tpl.old/tailwind.config.ts
  11-router/04-app-router/01-setup/next-ar-tpl.old/tsconfig.json
  11-router/04-app-router/01-setup/next-ar-tpl/eslint.config.mjs
  11-router/04-app-router/01-setup/next-ar-tpl/pnpm-lock.yaml
  11-router/04-app-router/01-setup/next-ar-tpl/src/components/ui/avatar.tsx
  lefthook.yaml
  prettier.config.sgl.js
Due: eslint, 09_lint

revert @typescript-eslint/consistent-indexed-object-style settings
  09-lint-format/01-linter/04-custom/eslint.config.js
  09-lint-format/02-formatter/02-prettier/eslint.config.js
  09-lint-format/03-stylelint/eslint.config.js
  09-lint-format/04-githooks/eslint.config.js
  11-router/03-react-router/02-setup/rrfw-tpl/eslint.config.js
  11-router/03-react-router/05-lib-app/eslint.config.js
  11-router/03-react-router/06-fw-app/eslint.config.js
  11-router/04-app-router/01-setup/next-ar-tpl/eslint.config.mjs
  11-router/04-app-router/05-ar-app/eslint.config.mjs
Due: eslint, 09_lint

add 12-4-2. suspense with server components
  12-data/03-then-render/01-rsc/src/app/[orgId]/members/loading.bak.tsx
  12-data/04-render-as/01-spa/with-swr/src/routes/members.tsx
  12-data/04-render-as/01-spa/with-use/src/routes/members.tsx
  12-data/04-render-as/02-rsc/.gitignore
  12-data/04-render-as/02-rsc/README.md
  12-data/04-render-as/02-rsc/components.json
  12-data/04-render-as/02-rsc/eslint.config.mjs
  12-data/04-render-as/02-rsc/next.config.ts
  12-data/04-render-as/02-rsc/package.json
  12-data/04-render-as/02-rsc/pnpm-lock.yaml
  12-data/04-render-as/02-rsc/postcss.config.mjs
  12-data/04-render-as/02-rsc/prettier.config.mjs
  12-data/04-render-as/02-rsc/public/file.svg
  12-data/04-render-as/02-rsc/public/globe.svg
  12-data/04-render-as/02-rsc/public/next.svg
  12-data/04-render-as/02-rsc/public/vercel.svg
  12-data/04-render-as/02-rsc/public/window.svg
  12-data/04-render-as/02-rsc/src/app/[orgId]/members/error.tsx
  12-data/04-render-as/02-rsc/src/app/[orgId]/members/layout.tsx
  12-data/04-render-as/02-rsc/src/app/[orgId]/members/not-found.tsx
  12-data/04-render-as/02-rsc/src/app/[orgId]/members/page.tsx
  12-data/04-render-as/02-rsc/src/app/favicon.ico
  12-data/04-render-as/02-rsc/src/app/globals.css
  12-data/04-render-as/02-rsc/src/app/layout.tsx
  12-data/04-render-as/02-rsc/src/app/not-found.tsx
  12-data/04-render-as/02-rsc/src/app/page.tsx
  12-data/04-render-as/02-rsc/src/components/member-card.tsx
  12-data/04-render-as/02-rsc/src/components/member-list.tsx
  12-data/04-render-as/02-rsc/src/components/org-list.tsx
  12-data/04-render-as/02-rsc/src/components/ui/avatar.tsx
  12-data/04-render-as/02-rsc/src/components/ui/card.tsx
  12-data/04-render-as/02-rsc/src/data/organizations.json
  12-data/04-render-as/02-rsc/src/dev-members.d.ts
  12-data/04-render-as/02-rsc/src/lib/data-reader.ts
  12-data/04-render-as/02-rsc/src/lib/type-validator.ts
  12-data/04-render-as/02-rsc/src/lib/utils.ts
  12-data/04-render-as/02-rsc/stylelint.config.mjs
  12-data/04-render-as/02-rsc/tailwind.config.ts
  12-data/04-render-as/02-rsc/tsconfig.json
Due: eslint

add 12-4-3. suspense with route loader
  12-data/04-render-as/03-loader/.gitignore
  12-data/04-render-as/03-loader/.vscode/extensions.json
  12-data/04-render-as/03-loader/.vscode/settings.json
  12-data/04-render-as/03-loader/.vscode/tasks.json
  12-data/04-render-as/03-loader/README.md
  12-data/04-render-as/03-loader/app/app.css
  12-data/04-render-as/03-loader/app/components/member-card.tsx
  12-data/04-render-as/03-loader/app/components/member-list.tsx
  12-data/04-render-as/03-loader/app/components/org-list.tsx
  12-data/04-render-as/03-loader/app/components/ui/avatar.tsx
  12-data/04-render-as/03-loader/app/components/ui/card.tsx
  12-data/04-render-as/03-loader/app/data/organizations.json
  12-data/04-render-as/03-loader/app/dev-members.d.ts
  12-data/04-render-as/03-loader/app/lib/data-reader.ts
  12-data/04-render-as/03-loader/app/lib/type-validator.ts
  12-data/04-render-as/03-loader/app/lib/utils.ts
  12-data/04-render-as/03-loader/app/root.tsx
  12-data/04-render-as/03-loader/app/routes.ts
  12-data/04-render-as/03-loader/app/routes/_home.tsx
  12-data/04-render-as/03-loader/app/routes/_members.tsx
  12-data/04-render-as/03-loader/app/routes/home.tsx
  12-data/04-render-as/03-loader/app/routes/members.tsx
  12-data/04-render-as/03-loader/app/routes/redirect.ts
  12-data/04-render-as/03-loader/app/vite-env.d.ts
  12-data/04-render-as/03-loader/components.json
  12-data/04-render-as/03-loader/eslint.config.js
  12-data/04-render-as/03-loader/lefthook.yaml
  12-data/04-render-as/03-loader/package.json
  12-data/04-render-as/03-loader/pnpm-lock.yaml
  12-data/04-render-as/03-loader/prettier.config.js
  12-data/04-render-as/03-loader/public/favicon.ico
  12-data/04-render-as/03-loader/react-router.config.ts
  12-data/04-render-as/03-loader/stylelint.config.js
  12-data/04-render-as/03-loader/tailwind.config.ts
  12-data/04-render-as/03-loader/tsconfig.json
  12-data/04-render-as/03-loader/vite.config.ts
Due: eslint

add 13-3. error with app router
  12-data/02-on-render/src/components/OrgHeader.tsx
  12-data/04-render-as/02-rsc/src/components/org-list.tsx
  13-error/03-app-router/.gitignore
  13-error/03-app-router/README.md
  13-error/03-app-router/components.json
  13-error/03-app-router/eslint.config.mjs
  13-error/03-app-router/next.config.ts
  13-error/03-app-router/package.json
  13-error/03-app-router/pnpm-lock.yaml
  13-error/03-app-router/postcss.config.mjs
  13-error/03-app-router/prettier.config.mjs
  13-error/03-app-router/public/file.svg
  13-error/03-app-router/public/globe.svg
  13-error/03-app-router/public/next.svg
  13-error/03-app-router/public/vercel.svg
  13-error/03-app-router/public/window.svg
  13-error/03-app-router/src/app/[orgId]/members/error.tsx
  13-error/03-app-router/src/app/[orgId]/members/layout.tsx
  13-error/03-app-router/src/app/[orgId]/members/not-found.tsx
  13-error/03-app-router/src/app/[orgId]/members/page.tsx
  13-error/03-app-router/src/app/error.tsx
  13-error/03-app-router/src/app/favicon.ico
  13-error/03-app-router/src/app/globals.css
  13-error/03-app-router/src/app/layout.tsx
  13-error/03-app-router/src/app/not-found.tsx
  13-error/03-app-router/src/app/page.tsx
  13-error/03-app-router/src/components/member-card.tsx
  13-error/03-app-router/src/components/member-list.tsx
  13-error/03-app-router/src/components/org-list.tsx
  13-error/03-app-router/src/components/ui/avatar.tsx
  13-error/03-app-router/src/components/ui/button.tsx
  13-error/03-app-router/src/components/ui/card.tsx
  13-error/03-app-router/src/data/organizations.json
  13-error/03-app-router/src/dev-members.d.ts
  13-error/03-app-router/src/lib/data-reader.ts
  13-error/03-app-router/src/lib/type-validator.ts
  13-error/03-app-router/src/lib/utils.ts
  13-error/03-app-router/stylelint.config.mjs
  13-error/03-app-router/tailwind.config.ts
  13-error/03-app-router/tsconfig.json
Due: eslint

add 14-3. react compiler
  14-memoize/01-memo/src/components/Timer.tsx
  14-memoize/02-callback/src/App.tsx
  14-memoize/02-callback/src/components/Timer.pre.tsx
  14-memoize/03-compiler/.gitignore
  14-memoize/03-compiler/.vscode/extensions.json
  14-memoize/03-compiler/README.md
  14-memoize/03-compiler/components.json
  14-memoize/03-compiler/eslint.config.js
  14-memoize/03-compiler/extensions.json
  14-memoize/03-compiler/index.html
  14-memoize/03-compiler/package.json
  14-memoize/03-compiler/pnpm-lock.yaml
  14-memoize/03-compiler/prettier.config.js
  14-memoize/03-compiler/public/vite.svg
  14-memoize/03-compiler/src/App.css
  14-memoize/03-compiler/src/App.tsx
  14-memoize/03-compiler/src/assets/react.svg
  14-memoize/03-compiler/src/components/Timer.mono.tsx
  14-memoize/03-compiler/src/components/Timer.tsx
  14-memoize/03-compiler/src/components/ui/button.tsx
  14-memoize/03-compiler/src/components/ui/card.tsx
  14-memoize/03-compiler/src/hooks/use-timer.ts
  14-memoize/03-compiler/src/index.css
  14-memoize/03-compiler/src/lib/utils.ts
  14-memoize/03-compiler/src/main.tsx
  14-memoize/03-compiler/src/utils/math.ts
  14-memoize/03-compiler/src/vite-env.d.ts
  14-memoize/03-compiler/stylelint.config.js
  14-memoize/03-compiler/tailwind.config.ts
  14-memoize/03-compiler/tsconfig.app.json
  14-memoize/03-compiler/tsconfig.json
  14-memoize/03-compiler/tsconfig.node.json
  14-memoize/03-compiler/vite.config.ts
Due: eslint

use type-safe href() on rr7.2
  11-router/03-react-router/06-fw-app/app/components/team-list.tsx
  12-data/03-then-render/02-loader/app/components/org-list.tsx
  12-data/04-render-as/03-loader/app/components/org-list.tsx
  13-error/04-rr-fw/app/components/org-list.tsx
Due: eslint

use @apply with direct css description
  11-router/03-react-router/02-setup/rrfw-tpl/app/app.css
  11-router/03-react-router/02-setup/rrfw-tpl/app/welcome/welcome.tsx
  11-router/03-react-router/05-lib-app/src/components/ui/label.tsx
  11-router/03-react-router/05-lib-app/src/components/ui/switch.tsx
  11-router/03-react-router/05-lib-app/src/index.css
  11-router/03-react-router/05-lib-app/src/routes/Players.loading.tsx
  11-router/03-react-router/06-fw-app/app/app.css
  11-router/03-react-router/06-fw-app/app/components/loading-switch.tsx
  11-router/03-react-router/06-fw-app/app/components/ui/label.tsx
  11-router/03-react-router/06-fw-app/app/components/ui/switch.tsx
  11-router/03-react-router/06-fw-app/app/welcome/welcome.tsx
  11-router/04-app-router/01-setup/next-ar-tpl/src/app/globals.css
  11-router/04-app-router/05-ar-app/src/app/globals.css
  12-data/02-on-render/src/components/MemberCard.tsx
  12-data/02-on-render/src/components/ui/card.tsx
  12-data/02-on-render/src/index.css
  12-data/02-on-render/src/routes/Members.tsx
  12-data/03-then-render/01-rsc/src/app/globals.css
  12-data/03-then-render/02-loader/app/app.css
  12-data/04-render-as/01-spa/with-swr/src/index.css
  12-data/04-render-as/01-spa/with-use/src/index.css
  12-data/04-render-as/02-rsc/src/app/globals.css
  12-data/04-render-as/03-loader/app/app.css
  13-error/02-reb/src/index.css
  13-error/03-app-router/src/app/globals.css
  13-error/04-rr-fw/app/app.css
  14-memoize/01-memo/src/index.css
  14-memoize/02-callback/src/index.css
  14-memoize/03-compiler/src/index.css
Due: eslint

add 15-1-1. primitive form
  15-form/01-react-form/01-primitive/.gitignore
  15-form/01-react-form/01-primitive/.vscode/extensions.json
  15-form/01-react-form/01-primitive/README.md
  15-form/01-react-form/01-primitive/components.json
  15-form/01-react-form/01-primitive/eslint.config.js
  15-form/01-react-form/01-primitive/index.html
  15-form/01-react-form/01-primitive/package.json
  15-form/01-react-form/01-primitive/pnpm-lock.yaml
  15-form/01-react-form/01-primitive/prettier.config.js
  15-form/01-react-form/01-primitive/public/vite.svg
  15-form/01-react-form/01-primitive/src/App.tsx
  15-form/01-react-form/01-primitive/src/assets/react.svg
  15-form/01-react-form/01-primitive/src/components/RegistrationForm.tsx
  15-form/01-react-form/01-primitive/src/components/ui/button.tsx
  15-form/01-react-form/01-primitive/src/components/ui/card.tsx
  15-form/01-react-form/01-primitive/src/components/ui/checkbox.tsx
  15-form/01-react-form/01-primitive/src/components/ui/input.tsx
  15-form/01-react-form/01-primitive/src/components/ui/label.tsx
  15-form/01-react-form/01-primitive/src/components/ui/select.tsx
  15-form/01-react-form/01-primitive/src/index.css
  15-form/01-react-form/01-primitive/src/lib/utils.ts
  15-form/01-react-form/01-primitive/src/main.tsx
  15-form/01-react-form/01-primitive/src/vite-env.d.ts
  15-form/01-react-form/01-primitive/stylelint.config.js
  15-form/01-react-form/01-primitive/tsconfig.app.json
  15-form/01-react-form/01-primitive/tsconfig.json
  15-form/01-react-form/01-primitive/tsconfig.node.json
  15-form/01-react-form/01-primitive/vite.config.ts
Due: eslint

modify eslint config with no-unused-vars
  09-lint-format/01-linter/04-custom/eslint.config.js
  09-lint-format/01-linter/05-inspector/eslint.config.js
  09-lint-format/02-formatter/02-prettier/eslint.config.js
  09-lint-format/03-stylelint/eslint.config.js
  09-lint-format/04-githooks/eslint.config.js
  11-router/03-react-router/02-setup/rrfw-tpl/eslint.config.js
  11-router/03-react-router/05-lib-app/eslint.config.js
  11-router/03-react-router/05-lib-app/src/App.tsx
  11-router/03-react-router/06-fw-app/eslint.config.js
  11-router/04-app-router/01-setup/next-ar-tpl/eslint.config.mjs
  11-router/04-app-router/05-ar-app/eslint.config.mjs
  12-data/02-on-render/eslint.config.js
  12-data/03-then-render/01-rsc/eslint.config.mjs
  12-data/03-then-render/02-loader/eslint.config.js
  12-data/04-render-as/01-spa/with-swr/eslint.config.js
  12-data/04-render-as/01-spa/with-use/eslint.config.js
  12-data/04-render-as/02-rsc/eslint.config.mjs
  12-data/04-render-as/03-loader/eslint.config.js
  13-error/02-reb/eslint.config.js
  13-error/03-app-router/eslint.config.mjs
  13-error/04-rr-fw/eslint.config.js
  14-memoize/01-memo/eslint.config.js
  14-memoize/02-callback/eslint.config.js
  14-memoize/03-compiler/eslint.config.js
Due: eslint, 09_lint

add 15-1-2. form status
  15-form/01-react-form/01-primitive/src/components/RegistrationForm.tsx
  15-form/01-react-form/02-form-status/.gitignore
  15-form/01-react-form/02-form-status/.vscode/extensions.json
  15-form/01-react-form/02-form-status/README.md
  15-form/01-react-form/02-form-status/components.json
  15-form/01-react-form/02-form-status/eslint.config.js
  15-form/01-react-form/02-form-status/index.html
  15-form/01-react-form/02-form-status/package.json
  15-form/01-react-form/02-form-status/pnpm-lock.yaml
  15-form/01-react-form/02-form-status/prettier.config.js
  15-form/01-react-form/02-form-status/public/vite.svg
  15-form/01-react-form/02-form-status/src/App.tsx
  15-form/01-react-form/02-form-status/src/components/StatusCat.tsx
  15-form/01-react-form/02-form-status/src/components/ui/button.tsx
  15-form/01-react-form/02-form-status/src/components/ui/card.tsx
  15-form/01-react-form/02-form-status/src/components/ui/input.tsx
  15-form/01-react-form/02-form-status/src/components/ui/label.tsx
  15-form/01-react-form/02-form-status/src/components/ui/sonner.tsx
  15-form/01-react-form/02-form-status/src/index.css
  15-form/01-react-form/02-form-status/src/lib/dummy-api.ts
  15-form/01-react-form/02-form-status/src/lib/utils.ts
  15-form/01-react-form/02-form-status/src/main.tsx
  15-form/01-react-form/02-form-status/src/routes/CatForm.tsx
  15-form/01-react-form/02-form-status/src/routes/Home.tsx
  15-form/01-react-form/02-form-status/src/routes/StateForm.tsx
  15-form/01-react-form/02-form-status/src/routes/TransitionForm.tsx
  15-form/01-react-form/02-form-status/src/routes/_Layout.tsx
  15-form/01-react-form/02-form-status/src/types/form.ts
  15-form/01-react-form/02-form-status/src/vite-env.d.ts
  15-form/01-react-form/02-form-status/stylelint.config.js
  15-form/01-react-form/02-form-status/tsconfig.app.json
  15-form/01-react-form/02-form-status/tsconfig.json
  15-form/01-react-form/02-form-status/tsconfig.node.json
  15-form/01-react-form/02-form-status/vite.config.ts
Due: eslint

use safelist with tailwind css
  11-router/03-react-router/05-lib-app/package.json
  11-router/03-react-router/05-lib-app/src/components/PlayerList.loading.tsx
  11-router/03-react-router/05-lib-app/src/components/PlayerList.tsx
  11-router/03-react-router/05-lib-app/src/index.css
  11-router/03-react-router/05-lib-app/src/safelist.txt
  11-router/03-react-router/06-fw-app/app/app.css
  11-router/03-react-router/06-fw-app/app/components/player-list.loading.tsx
  11-router/03-react-router/06-fw-app/app/components/player-list.tsx
  11-router/03-react-router/06-fw-app/app/safelist.txt
  11-router/03-react-router/06-fw-app/package.json
  11-router/04-app-router/05-ar-app/eslint.config.mjs
  11-router/04-app-router/05-ar-app/next.config.ts
  11-router/04-app-router/05-ar-app/package.json
  11-router/04-app-router/05-ar-app/postcss.config.mjs
  11-router/04-app-router/05-ar-app/prettier.config.mjs
  11-router/04-app-router/05-ar-app/src/app/globals.css
  11-router/04-app-router/05-ar-app/src/app/layout.tsx
  11-router/04-app-router/05-ar-app/src/app/players/[teamId]/not-found.tsx
  11-router/04-app-router/05-ar-app/src/app/safelist.txt
  11-router/04-app-router/05-ar-app/src/components/loading-switch.tsx
  11-router/04-app-router/05-ar-app/src/components/player-list.loading.tsx
  11-router/04-app-router/05-ar-app/src/components/player-list.tsx
  11-router/04-app-router/05-ar-app/src/components/ui/avatar.tsx
  11-router/04-app-router/05-ar-app/src/components/ui/label.tsx
  11-router/04-app-router/05-ar-app/src/components/ui/skeleton.tsx
  11-router/04-app-router/05-ar-app/src/components/ui/switch.tsx
  11-router/04-app-router/05-ar-app/stylelint.config.mjs
  11-router/04-app-router/05-ar-app/tsconfig.json
Due: eslint

rename FormData interface to RegData
  15-form/01-react-form/01-primitive/src/components/RegistrationForm.tsx
  15-form/01-react-form/02-form-status/src/components/StatusCat.tsx
  15-form/01-react-form/02-form-status/src/lib/dummy-api.ts
  15-form/01-react-form/02-form-status/src/routes/CatForm.tsx
  15-form/01-react-form/02-form-status/src/routes/StateForm.tsx
  15-form/01-react-form/02-form-status/src/routes/TransitionForm.tsx
  15-form/01-react-form/02-form-status/src/types/form.ts
  15-form/01-react-form/03-shift-update/deferred/src/lib/dummy-api.ts
  15-form/01-react-form/03-shift-update/deferred/src/types/form.ts
Due: eslint

15-2-1. action with server functions
  15-form/02-actions/01-server-fn/.gitignore
  15-form/02-actions/01-server-fn/README.md
  15-form/02-actions/01-server-fn/components.json
  15-form/02-actions/01-server-fn/eslint.config.mjs
  15-form/02-actions/01-server-fn/lefthook.yml
  15-form/02-actions/01-server-fn/next.config.ts
  15-form/02-actions/01-server-fn/package.json
  15-form/02-actions/01-server-fn/pnpm-lock.yaml
  15-form/02-actions/01-server-fn/postcss.config.mjs
  15-form/02-actions/01-server-fn/prettier.config.mjs
  15-form/02-actions/01-server-fn/public/file.svg
  15-form/02-actions/01-server-fn/public/globe.svg
  15-form/02-actions/01-server-fn/public/next.svg
  15-form/02-actions/01-server-fn/public/vercel.svg
  15-form/02-actions/01-server-fn/public/window.svg
  15-form/02-actions/01-server-fn/src/app/error.tsx
  15-form/02-actions/01-server-fn/src/app/favicon.ico
  15-form/02-actions/01-server-fn/src/app/globals.css
  15-form/02-actions/01-server-fn/src/app/layout.tsx
  15-form/02-actions/01-server-fn/src/app/not-found.tsx
  15-form/02-actions/01-server-fn/src/app/page.tsx
  15-form/02-actions/01-server-fn/src/app/safelist.txt
  15-form/02-actions/01-server-fn/src/components/message-form.client.tsx
  15-form/02-actions/01-server-fn/src/components/message-form.tsx
  15-form/02-actions/01-server-fn/src/components/message-list.tsx
  15-form/02-actions/01-server-fn/src/components/ui/button.tsx
  15-form/02-actions/01-server-fn/src/components/ui/card.tsx
  15-form/02-actions/01-server-fn/src/components/ui/sonner.tsx
  15-form/02-actions/01-server-fn/src/components/ui/textarea.tsx
  15-form/02-actions/01-server-fn/src/data/players.json
  15-form/02-actions/01-server-fn/src/data/teams.json
  15-form/02-actions/01-server-fn/src/lib/date.ts
  15-form/02-actions/01-server-fn/src/lib/utils.ts
  15-form/02-actions/01-server-fn/src/message.d.ts
  15-form/02-actions/01-server-fn/src/server/message-fn.ts
  15-form/02-actions/01-server-fn/stylelint.config.mjs
  15-form/02-actions/01-server-fn/tsconfig.json
Due: eslint

add .env files again
  07-toolchain/03-vite/vite-app/.env
  08-basics/01-ui/.env
  08-basics/02-props/.env
  08-basics/03-state/.env
  08-basics/04-effect/.env
  08-basics/06-custom/.env
  11-router/03-react-router/05-lib-app/.env
  11-router/03-react-router/06-fw-app/.env
  12-data/02-on-render/.env
  12-data/03-then-render/02-loader/.env
  12-data/04-render-as/01-spa/with-swr/.env
  12-data/04-render-as/01-spa/with-use/.env
  12-data/04-render-as/03-loader/.env
  13-error/02-reb/.env
  13-error/04-rr-fw/.env
  14-memoize/01-memo/.env
  14-memoize/02-callback/.env
  14-memoize/03-compiler/.env
  15-form/01-react-form/01-primitive/.env
  15-form/01-react-form/02-form-status/.env
  15-form/01-react-form/03-shift-update/deferred/.env
  15-form/01-react-form/03-shift-update/optimistic/.env
Due: none

switch clsx to cn helper function
  15-form/01-react-form/03-shift-update/deferred/src/components/UserList.tsx
  15-form/01-react-form/03-shift-update/optimistic/src/components/LikeButton.action.tsx
  15-form/01-react-form/03-shift-update/optimistic/src/components/LikeButton.tsx
Due: eslint

use `entities/` in folder structure
  15-form/02-actions/01-server-fn/src/app/page.tsx
  15-form/02-actions/01-server-fn/src/components/message-form.client.tsx
  15-form/02-actions/01-server-fn/src/components/message-form.tsx
  15-form/02-actions/01-server-fn/src/components/message-list.tsx
  15-form/02-actions/01-server-fn/src/entities/message-service.ts
  15-form/02-actions/01-server-fn/src/entities/message-type.ts
  15-form/02-actions/01-server-fn/src/server/message-action.ts
  15-form/02-actions/02-action-state/src/app/page.tsx
  15-form/02-actions/02-action-state/src/components/message-form.tsx
  15-form/02-actions/02-action-state/src/components/message-list.tsx
  15-form/02-actions/02-action-state/src/entities/message-service.ts
  15-form/02-actions/02-action-state/src/entities/message-type.ts
  15-form/02-actions/02-action-state/src/server/message-action.ts
  15-form/02-actions/03-route-action/app/components/message-form.tsx
  15-form/02-actions/03-route-action/app/entities/message-service.ts
  15-form/02-actions/03-route-action/app/entities/message-type.ts
  15-form/02-actions/03-route-action/app/routes/home.tsx
Due: eslint

change tsconfig lib option es2022 -> esnext
  11-router/03-react-router/02-setup/rrfw-tpl/tsconfig.json
  11-router/03-react-router/06-fw-app/tsconfig.json
  12-data/03-then-render/02-loader/tsconfig.json
  12-data/04-render-as/03-loader/tsconfig.json
  13-error/04-rr-fw/tsconfig.json
Due: none

Path conditions:
  eslint: any of: *.{js,,mjs,cjs,ts,mts,cts,jsx,tsx}, but not: ^(01|02|03|04|05|06|07|08|09)-.+/.*
  stylelint: any of: {src,app}/**/*.{css,scss,sass,less}, but not: ^(01|02|03|04|05|06|07|08|09)-.+/.*
  prettier: any of: **/!(*.min|*-lock).{js,mjs,cjs,ts,mts,cts,jsx,tsx,html,css,scss,sass,less,json,jsonc,yaml,yml,graphql,gql}, but not: ^(01|02|03|04|05|06|07|08|09)-.+/.*
  09_lint: any of: *.{js,mjs,cjs,ts,mts,cts,jsx,tsx,css,scss,sass,less} and ^09\-lint\-format/04\-githooks/
  09_format: any of: **/!(*.min|*-lock).{js,mjs,cjs,ts,mts,cts,jsx,tsx,html,css,scss,sass,less,json,jsonc,yaml,yml,graphql,gql} and ^09\-lint\-format/04\-githooks/
